.idea/*
env/*
env
venv/*
venv
*.pyc
*.svg
*.txt
DigDiscord/*.json
DigDiscord/data/*.json
.pre-commit-config.yaml
chk.sh
.flake8
DigDiscord/dumps/*
DigDiscord/DigDiscord/__pycache__/*
DigDiscord/out.txt
DigDiscord/__pycache__/*
DigDiscord/.coverage
DigDiscord/htmlcov/
DigDiscord/tmp.html
set_env.sh
api/core/factory.pysvg
DigDiscord/frontend/node_modules/
DigDiscord/api/core/factory.pysvg
DigDiscord/api/migrations/0002_auto_20210117_1446.py
DigDiscord/django.log
DigDiscord/frontend/.babelrc
DigDiscord/frontend/.browserlistrc
DigDiscord/frontend/.browserslistrc
DigDiscord/frontend/.editorconfig
DigDiscord/frontend/.eslintignore
DigDiscord/frontend/.eslintrc.js
DigDiscord/frontend/.gitignore
DigDiscord/frontend/.postcssrc.js
