.idea/*
env/*
env
venv/*
venv
*.pyc
*.svg
*.txt
DigDiscord/*.json
DigDiscord/data/*.json
.pre-commit-config.yaml
chk.sh
.flake8
DigDiscord/dumps/*
DigDiscord/DigDiscord/__pycache__/*
DigDiscord/out.txt
DigDiscord/__pycache__/*
DigDiscord/.coverage
DigDiscord/htmlcov/
set_env.sh
api/core/factory.pysvg
DigDiscord/frontend/node_modules/
