#! /bin/bash

# this shell script shows howto plot charts from API and send file to related channel

# set variables
# Api call (one service among many others)
var_url="https://jean-charles-gibier.org/api/score/"
# column to aggregate
var_name=user_name
# value to agggregate
var_value=count_messages
date_fin=`date  +"%Y-%m-%d"`
date_debut=`date -d '7 day ago' +"%Y-%m-%d"`
var_title="Top contributeurs tous forums pour la semaine du $date_debut au $date_fin"
# matplotlib lets you produce many types of file
var_filetype="png"
var_token="Your bot token here"
var_img_name="${date_debut}_${date_fin}"
var_filename="<ROOT>/DigDiscord/DigDiscord/frontend/dist/static/img/charts/$var_img_name"
var_linkname="https://<YOUR SITE>/static/img/charts/${var_img_name}.${var_filetype}"

# export values
export BOT_CHANNEL=<YOUR CHANNEL ID>
export BOT_TOKEN="<YOUR BOT TOKEN>"

cd <ROOT>/DigDiscord/DigDiscord

# creer un fichier via une commande managee et matplotlib du type suivant :
python manage.py plot --url=$var_url --name=$var_name --value=$var_value --title="$var_title" --filetype=$var_filetype --startdate="$date_debut" --enddate="$date_fin" --token=$var_token --filename=$var_filename
